.all{
    background-color: whitesmoke;
    margin-bottom: 10px;
}
.main{
    background-color: blue;
    text-align: center;
    color: white;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.skill{
    color: blue;
}
input[type=text]{
    background-color: #dcdcdc;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 75%;
    margin: 8px 0px;
    border: none;
}
.project{
    color: blue;
}

    

.discript input[type=text] {
    font-weight: 100;
    font-size: 15px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: whitesmoke;
}
.detail input[type=text]{
    font-weight: bold;
    width: 90%;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    background-color: whitesmoke;
}
.contact{
    text-align: center;
    color: blue;
}
.name input[type=text]{
    background-color: white;
    box-sizing: border-box;
    border: none;
    width: 20%;
    text-align: center;
    margin:10px 600px 10px 600px;

}
.mail input[type=email]{
    background-color: white;
    box-sizing: border-box;
    border: none;
    padding: 12px 20px;
    width: 20%;
    text-align: center;
    margin:10px 600px 10px 600px;
}
.msg input[type=text]{
    background-color: white;
    box-sizing: border-box;
    border: none;
    width: 20%;
    text-align: center;
    margin:10px 600px 10px 600px;
}
.btn input[type=submit]{
    background-color: blue;
    box-sizing: border-box;
    border: none;
    width: 20%;
    text-align: center;
    color: white;
    padding: 12px 20px;
    margin:10px 600px 10px 600px;
    cursor: pointer;
}
@media (min-width: 1500px){
    .all{
        max-width: 1550px;
    }
}